header {
    width: 400px;
    background-color: red;
    text-align: center;
    color: white;
    font-family: "Poppins", sans-serif;
    border-radius: 20px 20px 0px 0px;
}

h1 {
    text-transform: uppercase;
    font-size: 4rem;
    margin: 3px;
    line-height: 65px;

}

h1, h2 {
    margin: 0;
}